TargetPlatformModel SystemTiagoNavigation {
	
	TargetPlatformDefinition VirtualBoxImage
	{
		Linux "Ubuntu Linux 16.04 64bit";
		LoginAccount smartsoft { FullName "SmartSoft Account" Email "max.muster@mail.com" }
		NetworkInterface eth0 { HostAddress "localhost" Kind "NAT" }
		CPU VirtualCPU { CoresTally 2 }

		TargetMiddleware ACE_SmartSoft

		TargetMiddleware OpcUa_SeRoNet
	} 
}