TargetPlatformModel SystemP3dxNavigationPlayerStageSimulator
{
	TargetPlatformDefinition PC1
	{
		LoginAccount dange { FullName "dange" Email "guest@example.com" }
		NetworkInterface eth2 { HostAddress "localhost" }
		CPU CPU3 { Kind "Intel DualCore 64bit" CoresTally 2 }
	}
}