TargetPlatformModel SystemSimpleJoystickTiagoNavigation {

TargetPlatformDefinition LocalPC
	{
		TargetMiddleware OpcUa_SeRoNet
		NetworkInterface lh { HostAddress "localhost" }
	} }