TargetPlatformModel SystemP3dxNavigationRealWorld
{
	TargetPlatformDefinition C26_11_RobotA
	{
		LoginAccount student { FullName "Student" Email "student@example.com" }
		TargetMiddleware ACE_SmartSoft
		NetworkInterface wlp3s0 { HostAddress "c26-11-robota" : 22 Kind "WLan" }
	} }